<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculater</title>

</head>
<body>
    <div align="center" style="margin-top:40px;">
        <img src="add.png">
    </div>
    <div align="center" style="margin-top:60px">
        <form name="form1">
            <button onclick="myFunction()">Click me</button>
        </form>
    </div>
    <script>
    function myFunction() {
        document.getElementById("demo").innerHTML = "Hello World";
    }
    </script>
</body>



<footer>
</footer>
</html>